Source: libevt
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config, python-dev, python3-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/libyal/libevt

Package: libevt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libevt-dbg
Description: Library to access the Windows Event Log (EVT) format
 libevt is a library to access the Windows Event Log (EVT) format.

Package: libevt-dbg
Architecture: any
Section: debug
Depends: libevt (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libevt
 Debugging symbols for libevt.

Package: libevt-dev
Section: libdevel
Architecture: any
Depends: libevt (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libevt
 Header files and libraries for developing applications for libevt.

Package: libevt-tools
Section: utils
Architecture: any
Depends: libevt (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Several tools for reading Windows Event Log (EVT) files
 Several tools for reading Windows Event Log (EVT) files.

Package: libevt-tools-dbg
Section: debug
Architecture: any
Depends: libevt-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libevt-tools
 Debugging symbols for libevt-tools.

Package: libevt-python
Section: python
Architecture: any
Depends: libevt (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libevt-python-dbg
Description: Python 2 bindings for libevt
 Python 2 bindings for libevt.

Package: libevt-python-dbg
Section: debug
Architecture: any
Depends: libevt-python (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libevt-python
 Debugging symbols for libevt-python.

Package: libevt-python3
Section: python
Architecture: any
Depends: libevt (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libevt-python3-dbg
Description: Python 3 bindings for libevt
 Python 3 bindings for libevt.

Package: libevt-python3-dbg
Section: debug
Architecture: any
Depends: libevt-python3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libevt-python3
 Debugging symbols for libevt-python3.

